if image.isImage
  .image-element style=imageCSS click='_select'
    = yield
else
  .image-element.not-image style=imageCSS click='_select'
    .overlay-file-type
      .file-type-label
        = image.type
    = yield
